@import "mixins";
.form {
    .image {
        p {
            font-family: "Roboto";
            font-weight: 400;
            color: #666666;
            span {
                font-family: "Raleway";
                font-weight: 400;
                color: #000000;
                margin-left: 20px;
            }
        }
        img {
            width: 100%;
        }
    }

    .applyItem {
        overflow-x: auto;
    }
    img {
        width: 100%;
    }
    table {
        border: none;
        width: 100%;
        border: 1px solid #999999;
        border-radius: 8px;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        @include tablet_L() {
            width: 750px;
        }
        th,
        td {
            padding: 16px 0;
        }
        .title {
            background: #245384;
            color: #ffffff;
            th {
                border-right: 1px solid #ffffff;
                &:last-child {
                    border: none;
                }
            }
        }
        tbody {
            tr:nth-child(odd) {
                background: #e7f3ff;
            }
            /*第一欄第一列：左上*/
            tr:first-child th:first-child {
                border-top-left-radius: 8px;
            }
            /*第一欄最後列：左下*/
            tr:last-child td:first-child {
                border-bottom-left-radius: 8px;
            }
            /*最後欄第一列：右上*/
            tr:first-child th:last-child {
                border-top-right-radius: 8px;
            }
            /*最後欄第一列：右下*/
            tr:last-child td:last-child {
                border-bottom-right-radius: 8px;
            }
        }
        .content {
            text-align: center;
            font-weight: 400;
            color: #333333;
        }
        .sum {
            color: #666666;
            font-weight: 700;
            .sumTitle {
                text-align: right;
                font-weight: 700;
                color: #666666;
            }
            &:last-child {
                text-align: center;
                font-weight: 400;
                color: #333333;
            }
        }
    }
    h2 {
        font-weight: 700;
        font-size: 24px;
        color: #333333;
        @include tablet_L() {
            font-size: 20px;
        }
    }
    .companyGroupOne,
    .companyGroupTwo {
        .title {
            font-weight: 400;
            color: #666666;
            margin: 5px 0 10px 0;
        }
        .content {
            padding-left: 20px;
            // font-size: 24px;
            font-weight: 400;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #333333;
            margin: 0 0 20px 0;
            // @include laptop_S() {
            //     font-size: 20px;
            // }
            // @include tablet_S() {
            //     font-size: 18px;
            // }
            @include mobile_L() {
                padding: 0;
                font-size: 14px;
            }
        }
    }
    .companyGroupOne {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        @include tablet_L() {
            grid-template-columns: 1fr 1fr;
        }
        @include mobile_L() {
            gap: 0 15px;
        }
    }
    .companyGroupTwo {
        display: grid;
        grid-template-columns: 2fr 2fr;
        @include mobile_L() {
            gap: 0 15px;
        }
    }
    .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 35px;
        @include tablet_S() {
            grid-template-columns: 1fr;
        }
        .formRow {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
            label {
                font-weight: 400;
                color: #666666;
                margin-bottom: 10px;
            }
            input {
                border: 1px solid #999999;
                border-radius: 8px;
                padding: 16px 0;
                text-indent: 16px;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #999999;
                    opacity: 1; /* Firefox */
                }
                &::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: #999999;
                }
            }
        }
        .address {
            margin-left: -250px;
            @include laptop_L() {
                margin-left: -200px;
            }
            @include laptop_M() {
                margin-left: -150px;
            }
            @include tablet_L() {
                margin-left: -130px;
            }
            @include tablet_S() {
                margin: 30px 0;
                grid-row: 2/3;
                grid-column: 1/3;
            }
        }
        .prepare {
            grid-column: 1/3;
            textarea {
                resize: none;
                border: 1px solid #999999;
                border-radius: 8px;
                padding: 16px;
                height: 100px;
                overflow-y: auto;
                &:focus {
                    outline: none;
                }
            }
        }
        .addressGroup {
            display: flex;
            flex-direction: column;
            gap: 25px;
            input {
                position: absolute;
                top: 0;
                left: 0;
                appearance: none;
                height: 19px;
                width: 19px;
                background: #ffffff;
                border: 1px solid #b7b1b1;
                border-radius: 3px;
                margin: 0;
            }
            input:checked {
                background: url(../public/img/checked.svg) 100%/100% no-repeat;
            }
            label {
                margin: 0;
                position: relative;
                cursor: pointer;
                padding-left: 25px;
                font-weight: 400;
                color: #666666;
            }
        }
    }
    .firstNext {
        cursor: pointer;
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: none;
        width: fit-content;
        padding: 16px 48px;
        background: #ff815a;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.23);
        border-radius: 8px;
        font-size: 24px;
        color: #ffffff;
        font-weight: 600;
        @include tablet_L() {
            padding: 6px 26px;
            font-size: 18px;
            bottom: -15px;
        }
    }
}
.hideForm {
    display: none;
}

.showForm {
    display: block;
}
.back {
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    left: 60px;
    margin: 0 auto;
    border: none;
    width: fit-content;
    padding: 16px 48px;
    background: #999999;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    @include tablet_L() {
        padding: 6px 26px;
        font-size: 18px;
        bottom: -15px;
    }
    @include mobile_M() {
        left: 30px;
    }
}
.next,
.complete {
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    right: 60px;
    margin: 0 auto;
    border: none;
    width: fit-content;
    padding: 16px 48px;
    background: #ff815a;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.23);
    border-radius: 8px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    @include tablet_L() {
        padding: 6px 26px;
        font-size: 18px;
        bottom: -15px;
    }
    @include mobile_M() {
        right: 30px;
    }
}

.write {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include tablet_S() {
        grid-template-columns: 1fr;
    }
}
.temporary {
    cursor: pointer;
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    background: transparent;
    font-weight: 400;
    color: #b1b1b1;
    padding: 6px 35px;
    float: right;
    &:focus {
        outline: none;
    }
}
.upload {
    margin: 50px 0;
    position: relative;
    label {
        border: 1px solid #b1b1b1;
        border-radius: 15px;
        padding: 15px 50px;
        cursor: pointer;
    }
    input {
        opacity: 0;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
}
.popupToWrite {
    border: 1px solid #b1b1b1;
    border-radius: 15px;
    padding: 15px 30px;
    text-align: center;
    width: fit-content;
    display: block;
}
.formComplete {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 0;
    @include mobile_L() {
        grid-template-columns: 1fr 1fr;
    }
    .formRow {
        label {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            color: #666666;
            margin-bottom: 10px;
        }
        &:last-child {
            grid-column: 2/4;
            @include mobile_L() {
                grid-column: 1/3;
            }
        }
        p {
            padding-left: 20px;
            // font-size: 24px;
            font-weight: 400;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #333333;
            margin: 5px 0 20px 0;
            @include tablet_S() {
                padding-left: 0px;
                font-size: 20px;
            }
        }
    }
}
.formCompleteInvoce {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 0;
    @include mobile_L() {
        grid-template-columns: 1fr;
    }
    .formRow {
        &:nth-last-child(2) {
            grid-column: 1/4;
            @include mobile_L() {
                grid-column: 1/2;
            }
        }
        &:last-child {
            grid-column: 1/4;
            @include mobile_L() {
                grid-column: 1/2;
            }
        }
        label {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            color: #666666;
            margin-bottom: 10px;
        }
        p {
            padding-left: 20px;
            // font-size: 24px;
            font-weight: 400;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #333333;
            margin: 5px 0 20px 0;
            @include tablet_S() {
                padding-left: 0px;
                font-size: 20px;
            }
        }
    }
}
.card {
    .dropDown {
        background: #245384;
        // border: 1px solid #999999;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 12px 20px;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
    }
    .active {
        border-radius: 8px 8px 0px 0px;
    }
    .cardBody {
        border: 1px solid #999999;
        border-radius: 0px 0px 8px 8px;
        border-top: none;
        .dropDownContent {
            p {
                padding: 12px 20px;
                font-weight: 400;
                font-size: 15px;
                color: #000000;
                margin: 0;
            }
            .bGroup {
                .num {
                    display: flex;
                    padding: 0;
                    gap: 10px;
                    border-top: 0;
                    input {
                        border: none;
                        border-bottom: 1px solid #000000;
                        border-radius: 0;
                        min-width: 40px;
                        text-align: center;
                        background: transparent;
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
            .aGroup,
            .bGroup {
                label {
                    position: relative;
                    display: grid;
                    grid-template-columns: 30px 4fr 100px 3fr;
                    width: 100%;
                    align-items: center;
                    padding: 12px;
                    font-weight: 400;
                    color: #333333;
                    border-top: 1px solid #999999;
                    @include tablet_L() {
                        font-size: 14px;
                    }
                    @include mobile_L() {
                        font-size: 12px;
                    }
                    input {
                        cursor: pointer;
                        appearance: none;
                        background: #ffffff;
                        border: 1px solid #b7b1b1;
                        border-radius: 3px;
                        height: 19px;
                        width: 19px;
                        margin: 0;
                        &:checked {
                            background: url(../public/img/checked.svg) 100%/100%
                                no-repeat;
                        }
                    }
                    span {
                        grid-column: 4/5;
                        text-align: right;
                        font-weight: 400;
                        color: #333333;
                        @include tablet_L() {
                            font-size: 14px;
                        }
                        @include mobile_L() {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}
.applyDefault {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 10px 0 20px 10px;
    @include tablet_L() {
        gap: 10px;
        margin-left: 0;
    }
    input {
        cursor: pointer;
        appearance: none;
        background: #ffffff;
        border: 1px solid #b7b1b1;
        border-radius: 3px;
        min-height: 19px;
        min-width: 19px;
        margin: 0;
        &:checked {
            background: url(../public/img/checked.svg) 100%/100% no-repeat;
        }
    }
    label {
        cursor: pointer;
        font-weight: 400;
        color: #000000;
        @include tablet_L() {
            font-size: 14px;
        }
        @include mobile_L() {
            font-size: 12px;
        }
    }
}
.applyCheckBox {
    display: grid;
    gap: 30px;
}

.checkedActive {
    background: #e6f2ff;
}
.steps {
    margin: 0 -30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    @include tablet_L() {
        gap: 10px;
    }
    @include tablet_S() {
        gap: 5px;
    }
    .step {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        div {
            text-align: center;
            span {
                border: 1px solid #b1b1b1;
                border-radius: 10px;
                font-family: "Roboto";
                font-weight: 500;
                font-size: 14px;
                color: #b1b1b1;
                padding: 5px 10px;
            }
            p {
                margin: 14px 0 0 0;
                font-family: "Roboto";
                color: #b1b1b1;
                font-size: 14px;
            }
        }
        .active {
            text-align: center;
            span {
                border: none;
                background: #ff815a;
                border-radius: 10px;
                font-family: "Roboto";
                font-weight: 500;
                font-size: 14px;
                color: #ffffff;
                padding: 5px 10px;
            }
            p {
                margin: 14px 0 0 0;
                font-family: "Roboto";
                color: #ff815a;
                font-size: 14px;
            }
        }
        .pass {
            text-align: center;
            span {
                border: none;
                background: #5289c9;
                border-radius: 10px;
                font-family: "Roboto";
                font-weight: 500;
                font-size: 14px;
                color: #ffffff;
                padding: 5px 10px;
            }
            p {
                margin: 14px 0 0 0;
                font-family: "Roboto";
                color: #5289c9;
                font-size: 14px;
            }
        }
    }
    svg {
        margin-top: 10px;
        @include laptop_M() {
            width: 34px;
        }
        @include tablet_S() {
            display: none;
        }
    }
}
.uploadImg {
    width: 100%;
    max-height: 450px;
}
