.bgWrap {
    position: relative;
    height: 600px;
    width: 100%;
    background-position: 25% 75%;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.upperTab {
    background: #073b74;
    mix-blend-mode: normal;
    opacity: 0.89;
    border-radius: 20px 20px 0px 0px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -189px auto 0 auto;
    padding: 28px 40px 40px 40px;
    h1 {
        color: #ffffff;
        font-size: 33px;
    }
    ul {
        color: #ffffff;
        font-weight: 500;
        font-size: 20px;
        li {
            list-style-image: url("../public/img/Rectangle131.svg");
        }
    }
}
