@import "mixins";
.desktopNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;

    @include laptop_L() {
        display: none;
    }
    .logo {
        display: flex;
        gap: 15px;
        align-items: center;
        p {
            font-style: normal;
            font-size: 24px;
            background: linear-gradient(
                91.11deg,
                #05345f 5.78%,
                rgba(25, 77, 124, 0.9) 63.04%,
                rgba(15, 54, 89, 0.9) 105.59%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    .navLinkList {
        list-style: none;
        padding: 0;
        display: flex;
        margin: 0;
        gap: 30px;
        li {
            width: fit-content;
            text-align: center;
            color: var(--third);
            font-weight: 700;
            font-size: 19px;
            a {
                background-image: linear-gradient(
                    to right,
                    #ff815a,
                    #ff815a 50%,
                    #666666 50%
                );
                background-size: 200% 100%;
                background-position: -100%;
                display: inline-block;
                position: relative;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: all 0.3s ease-in-out;
                &:before {
                    content: "";
                    background: #ff815a;
                    display: block;
                    position: absolute;
                    bottom: -38px;
                    left: 0;
                    width: 0;
                    height: 7px;
                    transition: all 0.3s ease-in-out;
                }
                &:hover::before {
                    width: 100%;
                }
                &:hover {
                    background-position: 0;
                }
            }
            .active {
                background-image: linear-gradient(#ff815a);
                background-size: 200% 100%;
                background-position: 0;
                display: inline-block;
                position: relative;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                &:before {
                    content: "";
                    background: #ff815a;
                    display: block;
                    position: absolute;
                    bottom: -38px;
                    left: 0;
                    width: 100%;
                    height: 7px;
                }
            }
        }
    }
}
.mobileNav {
    display: none;
    @include laptop_L() {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 99;
        width: 100%;
        background: #ffffff;
    }
    .logo {
        display: flex;
        gap: 15px;
        align-items: center;
        img {
            width: 38px;
            height: 47px;
        }
        p {
            font-style: normal;
            font-size: 15px;
            background: linear-gradient(
                91.11deg,
                #05345f 5.78%,
                rgba(25, 77, 124, 0.9) 63.04%,
                rgba(15, 54, 89, 0.9) 105.59%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    .mobileDropDown {
        .dropdown {
            border: none;
            background: transparent;
        }
        .dropdownMenu {
            position: absolute;
            width: 100%;
            top: 70px;
            left: 0;
            right: 0;
            z-index: 1;
            background: #ffffff;
            .mobileLinks {
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                a {
                    font-family: "Roboto";
                    font-weight: 500;
                    color: #000000;
                    padding: 15px 0 10px 0;
                }
                .active {
                    border-bottom: 4px solid #ff815a;
                }
            }
            .mobileLangGroup {
                display: grid;
                grid-template-columns: 1fr 1fr;
                a {
                    padding: 13px 0;
                    text-align: center;
                    background: #245384;
                    font-family: "Roboto";
                    font-weight: 500;
                    color: #ffffff;
                }
            }
        }
    }
}
